body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 90%;
    max-width: 400px;
}

#display {
    width: 100%;
    padding: 20px;
    border: none;
    background-color: #f8f8f8;
    text-align: right;
    font-size: 2em;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

button {
    padding: 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e0e0e0;
}

button:active {
    background-color: #ccc;
}

button:nth-child(4n) {
    background-color: #ff9500;
    color: #fff;
}

button:nth-child(4n):hover {
    background-color: #e58900;
}

button:nth-child(4n):active {
    background-color: #cc7700;
}

button:nth-last-child(-n+8) {
    background-color: #007aff;
    color: #fff;
}

button:nth-last-child(-n+8):hover {
    background-color: #0069d9;
}

button:nth-last-child(-n+8):active {
    background-color: #005bb5;
}

button.scientific {
    display: none;
}

button.shift-active {
    display: block !important;
}
